body {
  background: #fff;
}

.title {
  color: teal;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 500px;
}

.toggle {
  display: none;
}

.favorite-list {
  width: 20px;
}

.favorite-active {
  color: gold;
}

.item-red {
  width: 100px;
  height: 100px;
  background-color: red;
}

.item-green {
  width: 100px;
  height: 100px;
  background-color: green;
}

.item-blue {
  width: 100px;
  height: 100px;
  background-color: blue;
}
